
FRAMEWORK_NAME=RNS
FRAMEWORK_VERSION=0.0.0

FRAMEWORK(){
    printf "${GREEN}--[ ${FRAMEWORK_NAME} ${FRAMEWORK_VERSION}\n"
}

####################################
######### COLOR VALUE ##############
####################################

BLUE='\033[0;34m'
ORANGE='\033[0;33m'
GREEN='\033[0;32m'
RED='\033[0;31m'
NC='\033[0m' # No Color
